{
  "openapi": "3.0.0",
  "info": {
    "title": "API Reference",
    "version": "1.0.0",
    "description": "The Denefits API is organized around REST. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs. You can use the Denefits API in test mode, which does not affect your live data or interact with the banking networks. The token you use to authenticate the request determines whether the request is live mode or test mode.",
    "contact": {
      "email": "sukhpreet@denefits.com",
      "name": "Denefits API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.denefits.com:8005/v1",
      "description": "Development"
    }
  ],
  "paths": {
    "/provider": {
      "get": {
        "summary": "List of Providers",
        "tags": [
          "Providers"
        ],
        "operationId": "get-providers",
        "description": "Returns providers registered with your account.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Auth token",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Provider"
                          }
                        },
                        "count": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success Response": {
                    "value": {
                      "data": {
                        "count": 2,
                        "list": [
                          {
                            "date_registered": "2020-05-08T05:19:20.000Z",
                            "email": "test.123@gmail.com",
                            "first_name": "test name",
                            "last_name": "test",
                            "phone": "1212312345",
                            "provider_id": 9101
                          },
                          {
                            "date_registered": "2020-05-01T15:36:41.000Z",
                            "email": "demo.123@yopmail.com",
                            "first_name": "Demo",
                            "last_name": "now",
                            "phone": "855226644",
                            "provider_id": 5678
                          }
                        ]
                      },
                      "message": "Request executed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is missing in the headers": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "data": [],
                      "message": "Invalid auth token provided"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": " Request Faild",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If provider_id is not valid ": {
                    "value": {
                      "data": [],
                      "message": "Invalid provider ID"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "summary": "Create a Provider",
        "operationId": "post-provider",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "provider_id": {
                            "type": "number"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Provider added successfully": {
                    "value": {
                      "data": {
                        "provider_id": 6410
                      },
                      "message": "Provider added successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is missing in headers": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  },
                  "If any of the required_field is missing in the body": {
                    "value": {
                      "data": [],
                      "message": "\"required_field\" is required"
                    }
                  },
                  "If wrong mobile number is entered": {
                    "value": {
                      "data": [],
                      "message": "Invalid \"phone\" provided "
                    }
                  },
                  "If wrong email is entered": {
                    "value": {
                      "data": [],
                      "message": "\"email\" must be a valid email"
                    }
                  },
                  "If email is empty": {
                    "value": {
                      "data": [],
                      "message": "\"email\" is not allowed to be empty"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "data": [],
                      "message": "Invalid auth token provided"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Request Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If mobile number is already exist in the system.": {
                    "value": {
                      "data": [],
                      "message": "Same Mobile"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new provider under your account.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "required": true,
            "description": "Auth token"
          }
        ],
        "tags": [
          "Providers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "zipcode": {
                    "type": "number"
                  },
                  "business_address": {
                    "type": "string"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone",
                  "zipcode",
                  "business_address"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "email": "charles.one@denefiys.com",
                    "first_name": "Charles",
                    "last_name": "One",
                    "phone": "1234567890",
                    "zipcode": "23433",
                    "business_address": "test address"
                  }
                }
              }
            }
          },
          "description": "Provider Object"
        }
      },
      "parameters": []
    },
    "/provider/bank": {
      "post": {
        "summary": "Add bank account",
        "tags": [
          "Providers"
        ],
        "responses": {},
        "operationId": "post-provider-bank"
      },
      "get": {
        "summary": "Retrieve bank account",
        "tags": [
          "Providers"
        ],
        "responses": {},
        "operationId": "get-provider-bank",
        "description": "Returns provider's bank details.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Auth Token",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider_id": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/contract/plans": {
      "get": {
        "summary": "List of Plans",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "plans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "plan_id": {
                                  "description": "Plan's unique identification.",
                                  "type": "string"
                                },
                                "interest_rate": {
                                  "type": "number",
                                  "description": "Interest rate."
                                },
                                "number_of_payments": {
                                  "type": "integer",
                                  "description": "Duration of the contract."
                                },
                                "monthly_payable": {
                                  "type": "object",
                                  "description": "Monthly Payable details.",
                                  "properties": {
                                    "total": {
                                      "type": "number",
                                      "description": "Total payable amount every month (Without Late Fees)"
                                    },
                                    "breakdown": {
                                      "type": "object",
                                      "description": "Breakdown of total payable amount.",
                                      "properties": {
                                        "amount": {
                                          "type": "number",
                                          "description": "Recurring amount."
                                        },
                                        "transaction_fee": {
                                          "type": "number",
                                          "description": "Transsaction Fee."
                                        }
                                      }
                                    }
                                  }
                                },
                                "to_pay_now": {
                                  "type": "object",
                                  "description": "Amount to pay now details.",
                                  "properties": {
                                    "total": {
                                      "type": "number",
                                      "description": "Total amount to pay now."
                                    },
                                    "breakdown": {
                                      "type": "object",
                                      "description": "Breakdown of amount.",
                                      "properties": {
                                        "denefits_enrollment_fee": {
                                          "type": "number",
                                          "description": "Flat contract creation fee."
                                        },
                                        "upfront_payment": {
                                          "type": "object",
                                          "description": "Upfront payment details.",
                                          "properties": {
                                            "total": {
                                              "type": "number",
                                              "description": "Total upfront payment."
                                            },
                                            "breakdown": {
                                              "type": "object",
                                              "description": "Breakdown of upfront payment.",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "Upfront amount."
                                                },
                                                "transaction_fee": {
                                                  "type": "number",
                                                  "description": "Upfront transaction fee."
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Message."
                    }
                  }
                },
                "examples": {}
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is missing in headers": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  },
                  "If provider_id is missing in query params": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'provider_id' is missing."
                    }
                  },
                  "If financed amount is missing or less than 0": {
                    "value": {
                      "data": [],
                      "message": "\"financed_amount\" is required"
                    }
                  },
                  "If financed_amount is not a valid amount": {
                    "value": {
                      "data": [],
                      "message": "\"financed_amount\" must be a safe number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "data": [],
                      "message": "Invalid auth token provided"
                    }
                  },
                  "if provider_id is wrong": {
                    "value": {
                      "message": "Provider does not belong to this partner"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Request Failed"
          }
        },
        "operationId": "get-plans",
        "description": "Returns plans for creating a contract. By default returns, plans of 12, 18, 24, 30, 36, 42 and 48 months. **filter_month** can be set to integer from 12 to 48 for getting result of that particular month only.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Auth Token",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "provider_id",
            "description": "Contract will belong to this provider.",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "amount",
            "description": "Amount to be financed.",
            "required": true
          },
          {
            "schema": {
              "type": "integer",
              "uniqueItems": false
            },
            "in": "query",
            "name": "filter_month",
            "description": "Data to be return for a specific month."
          }
        ],
        "requestBody": {
          "description": ""
        },
        "tags": [
          "Contract"
        ]
      },
      "parameters": []
    },
    "/contract/select": {
      "post": {
        "summary": "Select a Plan",
        "operationId": "contract-create",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_id": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {}
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_id": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "contract_id": 16633
                      },
                      "message": "Customer Financed Successfully"
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is missing in headers": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  },
                  "If any of the required_field is missing": {
                    "value": {
                      "data": [],
                      "message": "\"required_field\" is required"
                    }
                  },
                  "If financed_amount is empty or is not a number": {
                    "value": {
                      "data": [],
                      "message": "\"financed_amount\" must be a number"
                    }
                  },
                  "If months are not valid": {
                    "value": {
                      "message": "Number of payments or financed amount are not valid"
                    }
                  },
                  "If start_date is empty or not a valid date.": {
                    "value": {
                      "data": [],
                      "message": "\"start_date\" must be a valid date"
                    }
                  },
                  "If customer_email is empty": {
                    "value": {
                      "data": [],
                      "message": "\"customer_email\" is not allowed to be empty"
                    }
                  },
                  "If customer_email is not a valid email": {
                    "value": {
                      "data": [],
                      "message": "\"customer_email\" must be a valid email"
                    }
                  },
                  "If customer_mobile is invalid": {
                    "value": {
                      "data": [],
                      "message": "Invalid \"customer_mobile\" provided "
                    }
                  },
                  "Somethng went wrong": {
                    "value": {
                      "message": "Contract not financed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "data": [],
                      "message": "Invalid auth token provided"
                    }
                  },
                  "If provider_id is wrong": {
                    "value": {
                      "message": "Provider does not belong to this partner"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Request Failed"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Auth token",
            "required": true
          }
        ],
        "description": "Create a contract ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              },
              "examples": {
                "example": {
                  "value": {
                    "provider_id": "1234",
                    "financed_amount": "1000",
                    "month": "12",
                    "start_date": "2020-04-30",
                    "customer_email": "charles.ones@bridgingtech.com",
                    "customer_first_name": "Charles",
                    "customer_last_name": "One",
                    "customer_mobile": "1234567890"
                  }
                }
              }
            }
          },
          "description": "Customer Object"
        },
        "tags": [
          "Contract"
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Customer": {
        "title": "Customer",
        "type": "object",
        "x-examples": {},
        "description": "Customer Object",
        "properties": {
          "provider_id": {
            "type": "string"
          },
          "month": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "customer_first_name": {
            "type": "string"
          },
          "customer_last_name": {
            "type": "string"
          },
          "customer_phone": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          }
        },
        "required": [
          "provider_id",
          "amount",
          "month",
          "start_date",
          "customer_email",
          "customer_first_name",
          "customer_phone"
        ]
      },
      "Provider": {
        "title": "Provider Object",
        "type": "object",
        "description": "",
        "x-examples": {},
        "properties": {
          "provider_id": {
            "type": "number",
            "description": "Provider's Unique Identifier."
          },
          "date_registered": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-08T11:58:25.000Z",
            "description": "Provider's date of registration."
          },
          "phone": {
            "type": "string",
            "description": "Provider's phone number."
          },
          "last_name": {
            "type": "string",
            "description": "Provider's last name."
          },
          "first_name": {
            "type": "string",
            "description": "Provider's first name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "charles90@denefits.com",
            "description": "Provider's email address. "
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Providers"
    },
    {
      "name": "Plans"
    },
    {
      "name": "Finance"
    }
  ]
}