{
  "openapi": "3.0.0",
  "info": {
    "title": "API Reference",
    "version": "1.0.0",
    "description": "The Denefits API is organized around REST. Our API has predictable resource-oriented URLs which returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs. You can use the Denefits API in test mode, which does not affect your live data or interact with the banking networks. The token you use to authenticate the request determines whether the request is live mode or test mode.",
    "contact": {
      "email": "development@denefits.com",
      "name": "Denefits API Support"
    }
  },
  "servers": [
    {
      "url": "https://endpoint.denefits.com/v1"
    }
  ],
  "paths": {
    "/provider": {
      "get": {
        "summary": "List of Providers",
        "tags": [
          "Providers"
        ],
        "operationId": "get-providers",
        "description": "Returns providers registered with your account. Only providers with `payments_enabled` set to true are able to make payments plans or process a payment.",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "limit",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "skip",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider_id": {
                                "type": "string",
                                "description": "Provider's Unique Identifier."
                              },
                              "email": {
                                "type": "string",
                                "format": "email",
                                "example": "charles90@denefits.com",
                                "description": "Provider's email address. "
                              },
                              "first_name": {
                                "type": "string",
                                "description": "Provider's first name."
                              },
                              "last_name": {
                                "type": "string",
                                "description": "Provider's last name."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Provider's phone number."
                              },
                              "date_registered": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2020-05-08T11:58:25.000Z",
                                "description": "Provider's date of registration."
                              },
                              "address": {
                                "type": "array",
                                "description": "Business' street address.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "line1": {
                                      "type": "string"
                                    },
                                    "city": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "zip": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "payments_enabled": {
                                "type": "boolean"
                              },
                              "payments_disabled_reason": {
                                "type": "string"
                              },
                              "speciality": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "sub_industry_name": {
                                      "type": "string"
                                    },
                                    "sub_industry_id": {
                                      "type": "number"
                                    },
                                    "industry_name": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "count": {
                          "type": "number"
                        }
                      }
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Success Response": {
                    "value": {
                      "data": {
                        "count": 2,
                        "list": [
                          {
                            "provider_id": "pr_084aa5f9bad7a2d72a25d7887e365e0f",
                            "first_name": "Test 1",
                            "last_name": "Test 2",
                            "date_registered": "2020-04-08T09:01:40.000Z",
                            "email": "test1@gmail.com",
                            "phone": "9675457654",
                            "address": {
                              "line1": "45, square root",
                              "city": "Grand Ridge",
                              "state": "Florida",
                              "zip": "32442"
                            },
                            "speciality": {
                              "sub_industry_name": "Mobile Phone Industry",
                              "sub_industry_id": 396,
                              "industry_name": "Telecommunication"
                            },
                            "payments_enabled": true,
                            "payments_disabled_reason": null
                          },
                          {
                            "provider_id": "pr_c1394a2ece54157085a4102ead09a2d0",
                            "first_name": "Demo 1",
                            "last_name": "Demo 2",
                            "date_registered": "2020-04-07T07:14:23.000Z",
                            "email": "demo1@gmail.com",
                            "phone": "9564838477",
                            "address": {
                              "line1": "test Address",
                              "city": "Quitman",
                              "state": "Arkansas",
                              "zip": "72131"
                            },
                            "speciality": {
                              "sub_industry_name": "Civil Engineering",
                              "sub_industry_id": 297,
                              "industry_name": "Construction"
                            },
                            "payments_enabled": false,
                            "payments_disabled_reason": "no_bank_added"
                          }
                        ]
                      },
                      "message": "Request executed successfully",
                      "code": "success"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Provider",
        "operationId": "post-provider",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "provider_id": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "date_registered": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "address": {
                          "type": [
                            "string",
                            "object"
                          ],
                          "properties": {
                            "line1": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "zip": {
                              "type": "number"
                            }
                          }
                        },
                        "speciality": {
                          "type": "object",
                          "properties": {
                            "sub_industry_name": {
                              "type": "string"
                            },
                            "sub_industry_id": {
                              "type": "string"
                            },
                            "industry_name": {
                              "type": "string"
                            }
                          }
                        },
                        "payments_enabled": {
                          "type": "boolean"
                        },
                        "payments_disabled_reason": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Provider added successfully": {
                    "value": {
                      "message": "Provider added successfully",
                      "code": "success",
                      "data": {
                        "provider_id": "pr_64a9325bb4e3190fd9059b77efa19001",
                        "first_name": "Charles",
                        "last_name": "One",
                        "date_registered": "2020-06-02T05:04:55.000Z",
                        "email": "charles12.one@denefits.com",
                        "phone": "1235567899",
                        "address": {
                          "line1": "test address",
                          "city": "Suffolk",
                          "state": "Virginia",
                          "zip": 23433
                        },
                        "speciality": {
                          "sub_industry_name": "Chiropractics",
                          "sub_industry_id": 6,
                          "industry_name": "Healthcare"
                        },
                        "payments_enabled": false,
                        "payments_disabled_reason": "no_bank_added"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is missing in headers": {
                    "value": {
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  },
                  "If any of the required_field is missing in the body": {
                    "value": {
                      "message": "\"required_field\" is required"
                    }
                  },
                  "If wrong mobile number is entered": {
                    "value": {
                      "message": "Invalid \"phone\" provided "
                    }
                  },
                  "If wrong email is entered": {
                    "value": {
                      "message": "\"email\" must be a valid email"
                    }
                  },
                  "If email is empty": {
                    "value": {
                      "message": "\"email\" is not allowed to be empty"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "message": "Invalid auth token provided"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Request Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If mobile number is already exist in the system.": {
                    "value": {
                      "message": "Phone number already registered"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new provider under your account.",
        "parameters": [],
        "tags": [
          "Providers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name of the provider."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the provider."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the provider."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Mobile number of the provider."
                  },
                  "zipcode": {
                    "type": "string",
                    "description": "U.S. zipcode of Provider's Business Address."
                  },
                  "business_address": {
                    "type": "string",
                    "description": "Line 1/Street Address of Provider's Business."
                  },
                  "sub_industry_id": {
                    "type": "number",
                    "description": "Speciality ID of the provider. Get from /speciality"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone",
                  "zipcode",
                  "business_address",
                  "sub_industry_id"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "email": "charles.one@denefits.com",
                    "first_name": "Charles",
                    "last_name": "One",
                    "phone": "1234567890",
                    "zipcode": "23433",
                    "business_address": "test address",
                    "sub_industry_id": 2
                  }
                }
              }
            }
          },
          "description": "Provider Object"
        }
      },
      "parameters": []
    },
    "/provider/bank": {
      "get": {
        "summary": "Retrieve Provider's bank account",
        "tags": [
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bank_name": {
                          "type": "string",
                          "description": "Name of the bank"
                        },
                        "routing_number": {
                          "type": "string",
                          "description": "Routing number."
                        },
                        "last4": {
                          "type": "string",
                          "description": "Last 4 digits of account number."
                        },
                        "account_holder_name": {
                          "type": "string",
                          "description": "Account holder name"
                        },
                        "account_holder_type": {
                          "type": "string",
                          "description": "Type of account."
                        },
                        "provider_id": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Request executed successfully",
                      "data": {
                        "bank_name": "STRIPE TEST BANK",
                        "routing_number": "110000000",
                        "last4": "6789",
                        "account_holder_name": "raman test",
                        "account_holder_type": "individual",
                        "provider_id": "pr_88adb93658353ce2ef4a2e2268ebb7ae",
                        "currency": "usd",
                        "country": "US"
                      },
                      "code": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-provider-bank",
        "description": "Returns provider's bank details.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "provider_id",
            "description": "Provider ID ",
            "required": true
          }
        ]
      },
      "post": {
        "summary": "Add Provider's bank account",
        "tags": [
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "bank_name": {
                          "type": "string",
                          "description": "Name of the bank"
                        },
                        "routing_number": {
                          "type": "string",
                          "description": "Routing number."
                        },
                        "last4": {
                          "type": "string",
                          "description": "Last 4 digits of account number."
                        },
                        "account_holder_name": {
                          "type": "string",
                          "description": "Account holder name"
                        },
                        "account_holder_type": {
                          "type": "string",
                          "description": "Type of account."
                        },
                        "provider_id": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        }
                      }
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Bank added successfully",
                      "data": {
                        "bank_name": "STRIPE TEST BANK",
                        "currency": "usd",
                        "country": "US",
                        "routing_number": "110000000",
                        "account_holder_name": "Charlie",
                        "account_holder_type": "company",
                        "provider_id": "pr_cdd4554aad8af8d3743fb39abf6ba51b"
                      },
                      "code": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If required field is missing": {
                    "value": {
                      "message": "\"provider_id\" is required",
                      "code": "parameter_missing"
                    }
                  },
                  "If invalid file ID is used": {
                    "value": {
                      "message": "Invalid dl_front provided",
                      "code": "parameter_missing"
                    }
                  },
                  "If provider already added the bank account": {
                    "value": {
                      "message": "This provider already have a bank account linked with their account.",
                      "code": "bank_already_linked"
                    }
                  },
                  "If same file ID is used again": {
                    "value": {
                      "message": "This file upload is already attached to an account.",
                      "code": "request_failed"
                    }
                  },
                  "If Invalid bank token is used": {
                    "value": {
                      "message": "Invalid bank token",
                      "code": "invalid_bank_token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "if invalid provider_id is provided": {
                    "value": {
                      "message": "Provider does not belong to this partner.",
                      "code": "request_failed"
                    }
                  },
                  "If invalid token is provided": {
                    "value": {
                      "message": "Invalid auth token provided",
                      "code": "authentication_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-provider-bank",
        "description": "Add provider's bank account which will be used to receive the payouts\n\nIf bank token is created with \"individual\" account type then send `ssn_number`, `date_of_birth`, `front_file`, `back_file`\n\nIf bank token is created with \"company\" account type then send `company_name`, `company_tax_id`",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider_id": {
                    "type": "string"
                  },
                  "business_email": {
                    "type": "string"
                  },
                  "business_name": {
                    "type": "string"
                  },
                  "business_phone": {
                    "type": "string"
                  },
                  "bank_token": {
                    "type": "string"
                  },
                  "ssn_number": {
                    "type": "string",
                    "description": "ssn_number is required if \"individual\" type bank account is created"
                  },
                  "front_file": {
                    "type": "string"
                  },
                  "back_file": {
                    "type": "string"
                  },
                  "date_of_birth": {
                    "type": "string",
                    "format": "date",
                    "example": "1990-01-18",
                    "description": "date_of_birth is required if \"individual\" type bank account is created"
                  },
                  "company_tax_id": {
                    "type": "string",
                    "description": "company_tax_id is required if \"company\" type bank account is created"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "company_name is required if \"company\" type bank account is created"
                  }
                },
                "required": [
                  "provider_id",
                  "business_email",
                  "business_name",
                  "business_phone",
                  "bank_token"
                ]
              },
              "examples": {
                "Company account example": {
                  "value": {
                    "provider_id": "pr_cdd4554aad8af8d3743fb39abf6ba51b",
                    "business_email": "john@gmail.com",
                    "business_name": "John dentals",
                    "business_phone": "1234567890",
                    "bank_token": "btok_us******",
                    "company_name": "Dental Clinic",
                    "company_tax_id": "1234567"
                  }
                },
                "Individual Account Example": {
                  "value": {
                    "provider_id": "pr_cdd4554aad8af8d3743fb39abf6ba51b",
                    "business_email": "john@gmail.com",
                    "business_name": "John dentals",
                    "business_phone": "1234567890",
                    "ssn_number": 123456789,
                    "dl_front": "file_1GiLcuGLNiHiuNVIvOx4U3Fy",
                    "dl_back": "file_1GiLd7GLNiHiuNVITn329MVK",
                    "bank_token": "btok_us_verified",
                    "date_of_birth": "1990-05-29"
                  }
                }
              }
            }
          },
          "description": "Add Provider Bank"
        }
      }
    },
    "/provider/contract/plans": {
      "get": {
        "summary": "1. List of Plans",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message."
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "plans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "plan_id": {
                                  "description": "Plan's unique identification.",
                                  "type": "string"
                                },
                                "interest_rate": {
                                  "type": "number",
                                  "description": "Interest rate."
                                },
                                "number_of_payments": {
                                  "type": "integer",
                                  "description": "Duration of the contract."
                                },
                                "monthly_payable": {
                                  "type": "object",
                                  "description": "Monthly Payable details.",
                                  "properties": {
                                    "total": {
                                      "type": "number",
                                      "description": "Total payable amount every month (Without Late Fees)"
                                    },
                                    "breakdown": {
                                      "type": "object",
                                      "description": "Breakdown of total payable amount.",
                                      "properties": {
                                        "amount": {
                                          "type": "number",
                                          "description": "Recurring amount."
                                        },
                                        "transaction_fee": {
                                          "type": "number",
                                          "description": "Transsaction Fee."
                                        }
                                      }
                                    }
                                  }
                                },
                                "to_pay_now": {
                                  "type": "object",
                                  "description": "Amount to pay now details.",
                                  "properties": {
                                    "total": {
                                      "type": "number",
                                      "description": "Total amount to pay now."
                                    },
                                    "breakdown": {
                                      "type": "object",
                                      "description": "Breakdown of amount.",
                                      "properties": {
                                        "denefits_enrollment_fee": {
                                          "type": "number",
                                          "description": "Flat contract creation fee."
                                        },
                                        "upfront_payment": {
                                          "type": "object",
                                          "description": "Upfront payment details.",
                                          "properties": {
                                            "total": {
                                              "type": "number",
                                              "description": "Total upfront payment."
                                            },
                                            "breakdown": {
                                              "type": "object",
                                              "description": "Breakdown of upfront payment.",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "Upfront amount."
                                                },
                                                "transaction_fee": {
                                                  "type": "number",
                                                  "description": "Upfront transaction fee."
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "downpayment_amount": {
                                          "type": "object",
                                          "properties": {
                                            "total": {
                                              "type": "number"
                                            },
                                            "breakdown": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number"
                                                },
                                                "transaction_fee": {
                                                  "type": "number"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success.": {
                    "value": {
                      "message": "Success",
                      "data": {
                        "plans": [
                          {
                            "plan_id": "plan_P6550M12A1200D00F0D00",
                            "number_of_payments": 12,
                            "interest_rate": 16.99,
                            "monthly_payable": {
                              "total": 112.55,
                              "breakdown": {
                                "amount": 109.27,
                                "transaction_fee": 3.28
                              }
                            },
                            "to_pay_now": {
                              "total": 145.55,
                              "breakdown": {
                                "denefits_enrollment_fee": 30,
                                "downpayment_amount": {
                                  "total": 0,
                                  "breakdown": {
                                    "amount": 0,
                                    "transaction_fee": 0
                                  }
                                },
                                "upfront_payment": {
                                  "total": 112.55,
                                  "breakdown": {
                                    "amount": 109.27,
                                    "transaction_fee": 3.28
                                  }
                                }
                              }
                            }
                          }
                        ]
                      },
                      "code": "success"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-plans",
        "description": "Returns plans for creating a contract.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "provider_id",
            "description": "Contract will belong to this provider.",
            "required": true
          },
          {
            "schema": {
              "type": "number",
              "minimum": 200,
              "maximum": 10000,
              "example": 1200
            },
            "in": "query",
            "name": "amount",
            "description": "Total service amount",
            "required": true
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 12,
              "maximum": 48
            },
            "in": "query",
            "name": "filter_month",
            "description": "Return plan for this specific month."
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "downpayment_amount",
            "description": "Downpayment amount"
          }
        ],
        "tags": [
          "Contract Generation Process"
        ]
      },
      "parameters": []
    },
    "/file/upload": {
      "post": {
        "summary": "Upload file",
        "operationId": "post-upload_file",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "file_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success ": {
                    "value": {
                      "message": "Request executed successfully",
                      "data": {
                        "file_id": "file_1GiyMUGL***********"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns file_id which can be used in further API's",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Choose file you want to upload"
                  },
                  "purpose": {
                    "type": "string",
                    "description": "Possible values are \"bank_document\", \"denefits_file\""
                  }
                },
                "required": [
                  "file",
                  "purpose"
                ]
              }
            }
          },
          "description": ""
        },
        "tags": [
          "File"
        ]
      },
      "parameters": []
    },
    "/sub_industry": {
      "get": {
        "summary": "List of sub-industries of an industry.",
        "tags": [
          "Industry - Specialities"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "sub_industry_id": {
                                "type": "integer"
                              },
                              "sub_industry_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Request executed successfully",
                      "code": "success",
                      "data": {
                        "list": [
                          {
                            "sub_industry_id": 156,
                            "sub_industry_name": "Cardio special"
                          },
                          {
                            "sub_industry_id": 6,
                            "sub_industry_name": "Chiropractics"
                          },
                          {
                            "sub_industry_id": 12,
                            "sub_industry_name": "Cosmetic Surgery"
                          },
                          {
                            "sub_industry_id": 1,
                            "sub_industry_name": "Dental"
                          },
                          {
                            "sub_industry_id": 2,
                            "sub_industry_name": "Dermatology"
                          },
                          {
                            "sub_industry_id": 13,
                            "sub_industry_name": "Diabetes and Metabolic Specialist"
                          },
                          {
                            "sub_industry_id": 14,
                            "sub_industry_name": "Dietitians"
                          },
                          {
                            "sub_industry_id": 25,
                            "sub_industry_name": "Endodontist"
                          },
                          {
                            "sub_industry_id": 15,
                            "sub_industry_name": "ENT"
                          },
                          {
                            "sub_industry_id": 149,
                            "sub_industry_name": "ENT Specialist"
                          },
                          {
                            "sub_industry_id": 17,
                            "sub_industry_name": "Gastroenterology"
                          },
                          {
                            "sub_industry_id": 18,
                            "sub_industry_name": "Hearing Aid Specialist"
                          },
                          {
                            "sub_industry_id": 27,
                            "sub_industry_name": "Hospital and Ambulatory Surgery Center"
                          },
                          {
                            "sub_industry_id": 3,
                            "sub_industry_name": "Med Spas"
                          },
                          {
                            "sub_industry_id": 26,
                            "sub_industry_name": "Naturopathic Medicine"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-provider-speciality",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "industry_id",
            "required": true,
            "description": "Enter the industry id you want the speciality list of"
          }
        ],
        "description": "Returns the list of industries with their respective sub-industries. `sub_industry_id` is used in /provider(post) API while creating a provider."
      },
      "parameters": []
    },
    "/industry": {
      "get": {
        "summary": "List of Industries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "industry_list"
                      ],
                      "properties": {
                        "industry_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "industry_id": {
                                "type": "integer"
                              },
                              "industry_name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "industry_id",
                              "industry_name"
                            ]
                          }
                        }
                      }
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Request executed successfully",
                      "data": {
                        "list": [
                          {
                            "industry_id": 1,
                            "industry_name": "Healthcare"
                          },
                          {
                            "industry_id": 56,
                            "industry_name": "Auto Communication"
                          },
                          {
                            "industry_id": 99,
                            "industry_name": "Automobile"
                          },
                          {
                            "industry_id": 58,
                            "industry_name": "Construction"
                          },
                          {
                            "industry_id": 45,
                            "industry_name": "Education"
                          },
                          {
                            "industry_id": 57,
                            "industry_name": "Fitness"
                          }
                        ]
                      },
                      "code": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-provider-industry",
        "description": "Returns the list of industries.",
        "parameters": [],
        "tags": [
          "Industry - Specialities"
        ]
      },
      "parameters": []
    },
    "/provider/contract/select": {
      "post": {
        "summary": "2. Select a Plan",
        "operationId": "contract-create",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finance_token": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Finance Token Created",
                      "code": "success",
                      "data": {
                        "finance_token": "64de0703e3b61****************"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "description": "Select a Plan and provide customer details.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan_id": {
                    "type": "string",
                    "description": "Unique plan id of the plan selected for financing."
                  },
                  "provider_id": {
                    "type": "string",
                    "example": "pr_i3u4093j90qr009e0q9",
                    "description": "Contract will belong to this Provider."
                  },
                  "customer_email": {
                    "type": "string",
                    "description": "Email address of the customer",
                    "format": "email",
                    "example": "steven.gerrard08@liverpoolfc.com"
                  },
                  "customer_first_name": {
                    "type": "string",
                    "description": "First name of the customer.",
                    "example": "Steven"
                  },
                  "customer_last_name": {
                    "type": "string",
                    "description": "Last name of the customer.",
                    "example": "Gerrard"
                  },
                  "customer_address": {
                    "type": "string",
                    "description": "Street address of the customer",
                    "example": "189 Beaver Ridge Ave."
                  },
                  "zipcode": {
                    "type": "string",
                    "example": "48047",
                    "minLength": 5,
                    "maxLength": 5,
                    "description": "Zipcode"
                  },
                  "customer_mobile": {
                    "type": "string",
                    "description": "US Mobile number(Without hyphens) of the customer.",
                    "example": "2025550130",
                    "minLength": 10,
                    "maxLength": 10
                  },
                  "date_of_birth": {
                    "type": "string",
                    "description": "Date of birth of customer.",
                    "format": "date",
                    "example": "1980-05-30"
                  },
                  "customer_ssn": {
                    "type": "string",
                    "description": "SSN number(Without hyphens) of the customer.",
                    "example": "227392778",
                    "minLength": 9,
                    "maxLength": 9
                  },
                  "start_date": {
                    "type": "string",
                    "description": "Date from which first payment will be deducted.",
                    "format": "date",
                    "example": "2020-07-01"
                  },
                  "dl_number": {
                    "type": "string",
                    "description": "Driving License number of the customer."
                  }
                },
                "required": [
                  "plan_id",
                  "provider_id",
                  "customer_email",
                  "customer_first_name",
                  "customer_last_name",
                  "customer_address",
                  "zipcode",
                  "customer_mobile",
                  "date_of_birth",
                  "customer_ssn",
                  "start_date",
                  "dl_number"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "plan_id": "plan_P6509M12A1200D00F100D00",
                    "provider_id": "pr_084aa5f9bad7a2d72a25d7887e365e0f",
                    "customer_email": "steven.gerrard08@lfc.com",
                    "customer_first_name": "Steven",
                    "customer_last_name": "Gerrard",
                    "customer_address": "189 Beaver Ridge Ave.",
                    "zipcode": "48047",
                    "customer_mobile": "2025550130",
                    "date_of_birth": "1980-05-30",
                    "customer_ssn": "227392778",
                    "start_date": "2020-07-01",
                    "dl_number": "DL2181281230123"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Contract Generation Process"
        ]
      },
      "parameters": []
    },
    "/provider/contract/pay": {
      "post": {
        "summary": "3. Pay for Contract",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "contract_id": {
                          "type": "integer",
                          "description": "Unique identifier of contract."
                        },
                        "contract_code": {
                          "type": "string",
                          "description": "Contract code for reference."
                        }
                      }
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Customer Financed Successfully",
                      "data": {
                        "contract_id": 17351,
                        "contract_code": "STGMWLK17351"
                      },
                      "code": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-contract-pay",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "finance_token": {
                    "type": "string",
                    "description": "Finance Token."
                  },
                  "card_token": {
                    "type": "string",
                    "description": "Card Token receieved from iframe."
                  }
                },
                "required": [
                  "finance_token",
                  "card_token"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "finance_token": "7b863ffe354d689************",
                    "card_token": "tok_visa"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "description": "Pay for contract using finance token and card token.",
        "tags": [
          "Contract Generation Process"
        ]
      },
      "parameters": []
    },
    "/provider/contract/detail": {
      "get": {
        "summary": "Contract details",
        "tags": [
          "Provider Contract"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "contract_data": {
                          "type": "object",
                          "properties": {
                            "contract_id": {
                              "type": "number"
                            },
                            "contract_code": {
                              "type": "string"
                            },
                            "provider_id": {
                              "type": "string"
                            },
                            "customer_id": {
                              "type": "number"
                            },
                            "customer_first_name": {
                              "type": "string"
                            },
                            "customer_last_name": {
                              "type": "string"
                            },
                            "customer_email": {
                              "type": "string"
                            },
                            "customer_mobile": {
                              "type": "string"
                            },
                            "customer_address": {
                              "type": "string"
                            },
                            "customer_signature": {
                              "type": "string"
                            },
                            "financed_amount": {
                              "type": "number"
                            },
                            "interest_rate": {
                              "type": "number"
                            },
                            "emi_amount": {
                              "type": "number"
                            },
                            "total_emi": {
                              "type": "number"
                            },
                            "remaining_emi": {
                              "type": "number"
                            },
                            "next_emi_date": {
                              "type": "string"
                            },
                            "contract_status": {
                              "type": "string"
                            },
                            "zipcode": {
                              "type": "number"
                            },
                            "last_updated": {
                              "type": "string"
                            },
                            "date_added": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Request executed successfully",
                      "data": {
                        "contract_data": {
                          "contract_id": 16813,
                          "contract_code": "RATJJJ****",
                          "provider_id": "pr_084aa5f9bad7a2d72a25d7887e365e0f",
                          "customer_id": 3173,
                          "customer_first_name": "Ted",
                          "customer_last_name": "Mosby",
                          "customer_email": "tedmosby@gmail.com",
                          "customer_mobile": "+1-2055306266",
                          "customer_address": "#15 test, East Pembroke, NY, 14056",
                          "customer_signature": "https://denefits.s3.amazonaws.com/pat************",
                          "financed_amount": 1000,
                          "interest_rate": 16.49,
                          "emi_amount": 67.29,
                          "total_emi": 18,
                          "remaining_emi": 18,
                          "next_emi_date": "2020-05-15",
                          "contract_status": "Active",
                          "title": "",
                          "zipcode": 12345,
                          "last_updated": "2020-05-15T11:14:57.000Z",
                          "date_added": "2020-05-15T07:41:09.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-contract",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "provider_id",
            "required": true,
            "description": ""
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "contract_id",
            "required": true
          }
        ],
        "description": "Get contract details with ID"
      },
      "parameters": []
    },
    "/provider/contract/list": {
      "get": {
        "summary": "List of contracts of a provider",
        "tags": [
          "Provider Contract"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "contracts_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "contract_id": {
                                "type": "string"
                              },
                              "date_added": {
                                "type": "string"
                              },
                              "last_updated": {
                                "type": "string"
                              },
                              "zipcode": {
                                "type": "number"
                              },
                              "contract_status": {
                                "type": "string"
                              },
                              "next_emi_date": {
                                "type": "string"
                              },
                              "remaining_emi": {
                                "type": "number"
                              },
                              "total_emi": {
                                "type": "number"
                              },
                              "emi_amount": {
                                "type": "number"
                              },
                              "interest_rate": {
                                "type": "number"
                              },
                              "financed_amount": {
                                "type": "number"
                              },
                              "customer_signature": {
                                "type": "string"
                              },
                              "customer_address": {
                                "type": "string"
                              },
                              "customer_mobile": {
                                "type": "string"
                              },
                              "customer_email": {
                                "type": "string"
                              },
                              "customer_last_name": {
                                "type": "string"
                              },
                              "customer_first_name": {
                                "type": "string"
                              },
                              "customer_id": {
                                "type": "number"
                              },
                              "provider_id": {
                                "type": "number"
                              },
                              "contract_code": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "message": "Request executed successfully",
                      "code": "success",
                      "data": {
                        "count": 1,
                        "contracts_list": [
                          {
                            "contract_id": 17351,
                            "contract_code": "STGMWLK17351",
                            "provider_id": 6550,
                            "customer_id": 3174,
                            "customer_first_name": "Steven",
                            "customer_last_name": "Gerrard",
                            "customer_email": "steven.gerrard08@lfc.com",
                            "customer_mobile": "+1-2025550130",
                            "customer_address": "189 Beaver Ridge Ave.",
                            "customer_signature": "https://denefits.s3.amazonaws.com/patient_profile/dnfts-TwA021TTa4099.png",
                            "downpayment_amount": 0,
                            "financed_amount": 1200,
                            "interest_rate": 16.99,
                            "recurring_amount": 109.27,
                            "number_of_payments": 12,
                            "remaining_payments": 12,
                            "next_recurring_date": "2020-07-01T00:00:00.000Z",
                            "contract_status": "Active",
                            "title": "",
                            "city_name": "New Baltimore",
                            "zipcode": 48047,
                            "last_updated": "2020-05-29T14:06:26.000Z",
                            "date_added": "2020-05-29T14:06:26.000Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-contract-list",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "provider_id",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "limit",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "skip",
            "required": true
          }
        ],
        "description": "Get listing of all contracts of this account"
      },
      "parameters": []
    },
    "/provider/payment/detail": {
      "get": {
        "summary": "Payment details",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payment_data": {
                          "type": "object",
                          "properties": {
                            "payment_id": {
                              "type": "number"
                            },
                            "payment_code": {
                              "type": "string"
                            },
                            "provider_id": {
                              "type": "string"
                            },
                            "customer_name": {
                              "type": "string"
                            },
                            "payment_amount": {
                              "type": "number"
                            },
                            "transaction_fee": {
                              "type": "number"
                            },
                            "payment_status": {
                              "type": "string"
                            },
                            "reason": {
                              "type": "string"
                            },
                            "payment_receipt": {
                              "type": "string"
                            },
                            "date_added": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Request executed successfully",
                      "code": "success",
                      "data": {
                        "payment_data": {
                          "payment_id": 4123,
                          "payment_code": "IDNDRH4***",
                          "provider_id": "pr_084aa5f9bad7a2d72a25d7887e365e0f",
                          "customer_name": "Barney Stinson",
                          "payment_amount": 9000,
                          "transaction_fee": 0,
                          "payment_status": "Successfull",
                          "reason": "Liver treatment",
                          "payment_receipt": "https://denefits.s3.amazonaws.com/payment_receipt/Payment_Rece***********84.pdf",
                          "date_added": "2020-05-26T09:48:11.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-payment-detail",
        "description": "It returns the payment detail with payment ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "provider_id",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "payment_id",
            "required": true
          }
        ],
        "tags": [
          "Provider Payment"
        ]
      },
      "parameters": []
    },
    "/provider/payment/list": {
      "get": {
        "summary": "List of Payments of a provider",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "payment_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "payment_id": {
                                "type": "number"
                              },
                              "payment_code": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "string"
                              },
                              "customer_name": {
                                "type": "string"
                              },
                              "payment_amount": {
                                "type": "number"
                              },
                              "transaction_fee": {
                                "type": "number"
                              },
                              "payment_status": {
                                "type": "string"
                              },
                              "reason": {
                                "type": "string"
                              },
                              "payment_receipt": {
                                "type": "string"
                              },
                              "date_added": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Request executed successfully",
                      "code": "success",
                      "data": {
                        "count": 2,
                        "payment_list": [
                          {
                            "payment_id": 4123,
                            "payment_code": "IDNDRH4***",
                            "provider_id": "pr_084aa5f9bad7a2d72a25d7887e365e0f",
                            "customer_name": "Hannah Baker",
                            "payment_amount": 9000,
                            "transaction_fee": 0,
                            "payment_status": "Successfull",
                            "reason": "Dental treatment",
                            "payment_receipt": "https://denefits.s3.amazonaws.com/payment_receipt/Paymen**********4123.pdf",
                            "date_added": "2020-05-26T09:48:11.000Z"
                          },
                          {
                            "payment_id": 4036,
                            "payment_code": "IDSJNV4***",
                            "provider_id": "pr_084aa5f9bad7a2d72a25d7887e365e0f",
                            "customer_name": "Heart Checkup",
                            "payment_amount": 400,
                            "transaction_fee": 0,
                            "payment_status": "Successfull",
                            "reason": null,
                            "payment_receipt": "https://denefits.s3.amazonaws.com/payment_receipt/Payment_Recei********6.pdf",
                            "date_added": "2020-05-22T07:59:41.000Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-payment-list",
        "description": "It returns the details of the payments processed in the provider's account",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "provider_id",
            "required": true,
            "description": "ID of the provider you need payment details for"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "limit",
            "description": ""
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "skip",
            "description": ""
          }
        ],
        "tags": [
          "Provider Payment"
        ]
      },
      "parameters": []
    },
    "/provider/payment/pay": {
      "post": {
        "summary": "Process Instant Payment",
        "operationId": "post-provider-payment-pay",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Payment processed successfuly.",
                      "code": "success",
                      "data": {
                        "id": 4318,
                        "code": "IDVYPB4318"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "If invalid provider ID is provided": {
                    "value": {
                      "message": "Invalid provider ID",
                      "code": "request_failed"
                    }
                  },
                  "If mandatory field is missing": {
                    "value": {
                      "message": "\"card_token\" is required",
                      "code": "parameter_missing"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "If auth token is invalid": {
                    "value": {
                      "message": "Invalid auth token provided",
                      "code": "authentication_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider_id": {
                    "type": "string"
                  },
                  "card_token": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "card_token",
                  "amount",
                  "reason",
                  "name",
                  "provider_id"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "provider_id": "pr_38e9136b576d16a08c1ff1*******",
                    "card_token": "tok_visa",
                    "amount": 100,
                    "reason": "Dental treatment",
                    "name": "Ted Mosby"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "description": "This can be used to process an instant payment for the service.",
        "tags": [
          "Provider Payment"
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Industry - Specialities"
    },
    {
      "name": "File"
    },
    {
      "name": "Providers"
    },
    {
      "name": "Contract Generation Process"
    },
    {
      "name": "Provider Contract"
    },
    {
      "name": "Provider Payment"
    }
  ],
  "security": [
    {
      "authorization": []
    }
  ]
}