{
  "openapi": "3.0.0",
  "info": {
    "title": "API Reference",
    "version": "1.0.0",
    "description": "The Denefits API is organized around REST. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs. You can use the Denefits API in test mode, which does not affect your live data or interact with the banking networks. The token you use to authenticate the request determines whether the request is live mode or test mode.",
    "contact": {
      "email": "sukhpreet@denefits.com",
      "name": "Denefits API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.denefits.com:8005/v1",
      "description": "Development"
    }
  ],
  "paths": {
    "/provider": {
      "get": {
        "summary": "List of Providers",
        "tags": [
          "Providers"
        ],
        "operationId": "get-providers",
        "description": "Returns providers registered with your account.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Auth token",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Provider"
                          }
                        },
                        "count": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success Response": {
                    "value": {
                      "data": {
                        "count": 2,
                        "list": [
                          {
                            "date_registered": "2020-05-08T05:19:20.000Z",
                            "email": "test.123@gmail.com",
                            "first_name": "test name",
                            "last_name": "test",
                            "phone": "1212312345",
                            "provider_id": 9101
                          },
                          {
                            "date_registered": "2020-05-01T15:36:41.000Z",
                            "email": "demo.123@yopmail.com",
                            "first_name": "Demo",
                            "last_name": "now",
                            "phone": "855226644",
                            "provider_id": 5678
                          }
                        ]
                      },
                      "message": "Request executed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is missing in the headers": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "data": [],
                      "message": "Invalid auth token provided"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": " Request Faild",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If provider_id is not valid ": {
                    "value": {
                      "data": [],
                      "message": "Invalid provider ID"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "summary": "Create a Provider",
        "operationId": "post-provider",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "provider_id": {
                            "type": "number"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Provider added successfully": {
                    "value": {
                      "data": {
                        "provider_id": 6410
                      },
                      "message": "Provider added successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is missing in headers": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  },
                  "If any of the required_field is missing in the body": {
                    "value": {
                      "data": [],
                      "message": "\"required_field\" is required"
                    }
                  },
                  "If wrong mobile number is entered": {
                    "value": {
                      "data": [],
                      "message": "Invalid \"phone\" provided "
                    }
                  },
                  "If wrong email is entered": {
                    "value": {
                      "data": [],
                      "message": "\"email\" must be a valid email"
                    }
                  },
                  "If email is empty": {
                    "value": {
                      "data": [],
                      "message": "\"email\" is not allowed to be empty"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "data": [],
                      "message": "Invalid auth token provided"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Request Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If mobile number is already exist in the system.": {
                    "value": {
                      "data": [],
                      "message": "Same Mobile"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new provider under your account.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "required": true,
            "description": "Auth token"
          }
        ],
        "tags": [
          "Providers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "zipcode": {
                    "type": "number"
                  },
                  "business_address": {
                    "type": "string"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone",
                  "zipcode",
                  "business_address"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "email": "charles.one@denefiys.com",
                    "first_name": "Charles",
                    "last_name": "One",
                    "phone": "1234567890",
                    "zipcode": "23433",
                    "business_address": "test address"
                  }
                }
              }
            }
          },
          "description": "Provider Object"
        }
      },
      "parameters": []
    },
    "/provider/bank": {
      "post": {
        "summary": "Add bank account",
        "tags": [
          "Providers"
        ],
        "responses": {},
        "operationId": "post-provider-bank"
      },
      "get": {
        "summary": "Retrieve bank account",
        "tags": [
          "Providers"
        ],
        "responses": {},
        "operationId": "get-provider-bank",
        "description": "Returns provider's bank details.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Auth Token",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider_id": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/contract/plans": {
      "get": {
        "summary": "List of Plans",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "plans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "plan_id": {
                                  "description": "Plan's unique identification.",
                                  "type": "string"
                                },
                                "interest_rate": {
                                  "type": "number",
                                  "description": "Interest rate."
                                },
                                "number_of_payments": {
                                  "type": "integer",
                                  "description": "Duration of the contract."
                                },
                                "monthly_payable": {
                                  "type": "object",
                                  "description": "Monthly Payable details.",
                                  "properties": {
                                    "total": {
                                      "type": "number",
                                      "description": "Total payable amount every month (Without Late Fees)"
                                    },
                                    "breakdown": {
                                      "type": "object",
                                      "description": "Breakdown of total payable amount.",
                                      "properties": {
                                        "amount": {
                                          "type": "number",
                                          "description": "Recurring amount."
                                        },
                                        "transaction_fee": {
                                          "type": "number",
                                          "description": "Transsaction Fee."
                                        }
                                      }
                                    }
                                  }
                                },
                                "to_pay_now": {
                                  "type": "object",
                                  "description": "Amount to pay now details.",
                                  "properties": {
                                    "total": {
                                      "type": "number",
                                      "description": "Total amount to pay now."
                                    },
                                    "breakdown": {
                                      "type": "object",
                                      "description": "Breakdown of amount.",
                                      "properties": {
                                        "denefits_enrollment_fee": {
                                          "type": "number",
                                          "description": "Flat contract creation fee."
                                        },
                                        "upfront_payment": {
                                          "type": "object",
                                          "description": "Upfront payment details.",
                                          "properties": {
                                            "total": {
                                              "type": "number",
                                              "description": "Total upfront payment."
                                            },
                                            "breakdown": {
                                              "type": "object",
                                              "description": "Breakdown of upfront payment.",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "Upfront amount."
                                                },
                                                "transaction_fee": {
                                                  "type": "number",
                                                  "description": "Upfront transaction fee."
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Message."
                    }
                  }
                },
                "examples": {
                  "Success.": {
                    "value": {
                      "message": "Success",
                      "data": {
                        "plans": [
                          {
                            "plan_id": "plan_P6464M12A1000D00",
                            "number_of_payments": 12,
                            "interest_rate": 16.99,
                            "monthly_payable": {
                              "total": 94.06,
                              "breakdown": {
                                "amount": 91.06,
                                "transaction_fee": 3
                              }
                            },
                            "to_pay_now": {
                              "total": 124.06,
                              "breakdown": {
                                "denefits_enrollment_fee": "30.00",
                                "upfront_payment": {
                                  "total": 94.06,
                                  "breakdown": {
                                    "amount": 91.06,
                                    "transaction_fee": 3
                                  }
                                }
                              }
                            }
                          },
                          {
                            "plan_id": "plan_P6464M18A1000D00",
                            "number_of_payments": 18,
                            "interest_rate": 16.49,
                            "monthly_payable": {
                              "total": 70.29,
                              "breakdown": {
                                "amount": 67.29,
                                "transaction_fee": 3
                              }
                            },
                            "to_pay_now": {
                              "total": 100.29,
                              "breakdown": {
                                "denefits_enrollment_fee": "30.00",
                                "upfront_payment": {
                                  "total": 70.29,
                                  "breakdown": {
                                    "amount": 67.29,
                                    "transaction_fee": 3
                                  }
                                }
                              }
                            }
                          },
                          {
                            "plan_id": "plan_P6464M24A1000D00",
                            "number_of_payments": 24,
                            "interest_rate": 15.99,
                            "monthly_payable": {
                              "total": 57.96,
                              "breakdown": {
                                "amount": 54.96,
                                "transaction_fee": 3
                              }
                            },
                            "to_pay_now": {
                              "total": 87.96,
                              "breakdown": {
                                "denefits_enrollment_fee": "30.00",
                                "upfront_payment": {
                                  "total": 57.96,
                                  "breakdown": {
                                    "amount": 54.96,
                                    "transaction_fee": 3
                                  }
                                }
                              }
                            }
                          },
                          {
                            "plan_id": "plan_P6464M30A1000D00",
                            "number_of_payments": 30,
                            "interest_rate": 15.49,
                            "monthly_payable": {
                              "total": 50.4,
                              "breakdown": {
                                "amount": 47.4,
                                "transaction_fee": 3
                              }
                            },
                            "to_pay_now": {
                              "total": 80.4,
                              "breakdown": {
                                "denefits_enrollment_fee": "30.00",
                                "upfront_payment": {
                                  "total": 50.4,
                                  "breakdown": {
                                    "amount": 47.4,
                                    "transaction_fee": 3
                                  }
                                }
                              }
                            }
                          },
                          {
                            "plan_id": "plan_P6464M36A1000D00",
                            "number_of_payments": 36,
                            "interest_rate": 14.99,
                            "monthly_payable": {
                              "total": 45.26,
                              "breakdown": {
                                "amount": 42.26,
                                "transaction_fee": 3
                              }
                            },
                            "to_pay_now": {
                              "total": 75.26,
                              "breakdown": {
                                "denefits_enrollment_fee": "30.00",
                                "upfront_payment": {
                                  "total": 45.26,
                                  "breakdown": {
                                    "amount": 42.26,
                                    "transaction_fee": 3
                                  }
                                }
                              }
                            }
                          },
                          {
                            "plan_id": "plan_P6464M42A1000D00",
                            "number_of_payments": 42,
                            "interest_rate": 14.49,
                            "monthly_payable": {
                              "total": 41.5,
                              "breakdown": {
                                "amount": 38.5,
                                "transaction_fee": 3
                              }
                            },
                            "to_pay_now": {
                              "total": 71.5,
                              "breakdown": {
                                "denefits_enrollment_fee": "30.00",
                                "upfront_payment": {
                                  "total": 41.5,
                                  "breakdown": {
                                    "amount": 38.5,
                                    "transaction_fee": 3
                                  }
                                }
                              }
                            }
                          },
                          {
                            "plan_id": "plan_P6464M48A1000D00",
                            "number_of_payments": 48,
                            "interest_rate": 13.99,
                            "monthly_payable": {
                              "total": 38.6,
                              "breakdown": {
                                "amount": 35.6,
                                "transaction_fee": 3
                              }
                            },
                            "to_pay_now": {
                              "total": 68.6,
                              "breakdown": {
                                "denefits_enrollment_fee": "30.00",
                                "upfront_payment": {
                                  "total": 38.6,
                                  "breakdown": {
                                    "amount": 35.6,
                                    "transaction_fee": 3
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Token missing.": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  },
                  "Provider ID missing": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'provider_id' is missing."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "data": [],
                      "message": "Invalid auth token provided"
                    }
                  },
                  "if provider_id is wrong": {
                    "value": {
                      "message": "Provider does not belong to this partner"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Request Failed"
          }
        },
        "operationId": "get-plans",
        "description": "Returns plans for creating a contract.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Auth Token",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "provider_id",
            "description": "Contract will belong to this provider.",
            "required": true
          },
          {
            "schema": {
              "type": "number",
              "minimum": 200,
              "maximum": 10000,
              "example": 1200
            },
            "in": "query",
            "name": "amount",
            "description": "Amount to be financed.",
            "required": true
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 12,
              "maximum": 48
            },
            "in": "query",
            "name": "filter_month",
            "description": "Return plan for this specific month."
          }
        ],
        "requestBody": {
          "description": ""
        },
        "tags": [
          "Contract"
        ]
      },
      "parameters": []
    },
    "/contract/select": {
      "post": {
        "summary": "Select a Plan",
        "operationId": "contract-create",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_id": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {}
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_id": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "contract_id": 16633
                      },
                      "message": "Customer Financed Successfully"
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is missing in headers": {
                    "value": {
                      "data": [],
                      "message": "Mandatory parameter 'token' is missing."
                    }
                  },
                  "If any of the required_field is missing": {
                    "value": {
                      "data": [],
                      "message": "\"required_field\" is required"
                    }
                  },
                  "If financed_amount is empty or is not a number": {
                    "value": {
                      "data": [],
                      "message": "\"financed_amount\" must be a number"
                    }
                  },
                  "If months are not valid": {
                    "value": {
                      "message": "Number of payments or financed amount are not valid"
                    }
                  },
                  "If start_date is empty or not a valid date.": {
                    "value": {
                      "data": [],
                      "message": "\"start_date\" must be a valid date"
                    }
                  },
                  "If customer_email is empty": {
                    "value": {
                      "data": [],
                      "message": "\"customer_email\" is not allowed to be empty"
                    }
                  },
                  "If customer_email is not a valid email": {
                    "value": {
                      "data": [],
                      "message": "\"customer_email\" must be a valid email"
                    }
                  },
                  "If customer_mobile is invalid": {
                    "value": {
                      "data": [],
                      "message": "Invalid \"customer_mobile\" provided "
                    }
                  },
                  "Somethng went wrong": {
                    "value": {
                      "message": "Contract not financed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If token is wrong": {
                    "value": {
                      "data": [],
                      "message": "Invalid auth token provided"
                    }
                  },
                  "If provider_id is wrong": {
                    "value": {
                      "message": "Provider does not belong to this partner"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Request Failed"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Auth token",
            "required": true
          }
        ],
        "description": "Create a contract ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              },
              "examples": {
                "example": {
                  "value": {
                    "provider_id": "1234",
                    "financed_amount": "1000",
                    "month": "12",
                    "start_date": "2020-04-30",
                    "customer_email": "charles.ones@bridgingtech.com",
                    "customer_first_name": "Charles",
                    "customer_last_name": "One",
                    "customer_mobile": "1234567890"
                  }
                }
              }
            }
          },
          "description": "Customer Object"
        },
        "tags": [
          "Contract"
        ]
      },
      "parameters": []
    },
    "/upload_file": {
      "post": {
        "summary": "Upload file to receive file id",
        "operationId": "post-upload_file",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "file_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success ": {
                    "value": {
                      "message": "Request executed successfully",
                      "data": {
                        "file_id": "file_1GiyMUGL***********"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Empty file": {
                    "value": {
                      "message": "file is required"
                    }
                  },
                  "Wrong pupose": {
                    "value": {
                      "message": "Possible values for purpose is 'bank_doc'"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This API is used for uploading files and returns file_id which can be used in further API's",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Authentication token",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Choose file you want to upload"
                  },
                  "purpose": {
                    "type": "string",
                    "description": "Possible values are \"bank_document\", \"denefits_file\""
                  }
                },
                "required": [
                  "file",
                  "purpose"
                ]
              }
            }
          },
          "description": ""
        },
        "tags": [
          "File"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Customer": {
        "title": "Customer",
        "type": "object",
        "x-examples": {},
        "description": "Customer Object",
        "properties": {
          "provider_id": {
            "type": "string"
          },
          "month": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "customer_first_name": {
            "type": "string"
          },
          "customer_last_name": {
            "type": "string"
          },
          "customer_phone": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          }
        },
        "required": [
          "provider_id",
          "amount",
          "month",
          "start_date",
          "customer_email",
          "customer_first_name",
          "customer_phone"
        ]
      },
      "Provider": {
        "title": "Provider Object",
        "type": "object",
        "description": "",
        "x-examples": {},
        "properties": {
          "provider_id": {
            "type": "number",
            "description": "Provider's Unique Identifier."
          },
          "date_registered": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-08T11:58:25.000Z",
            "description": "Provider's date of registration."
          },
          "phone": {
            "type": "string",
            "description": "Provider's phone number."
          },
          "last_name": {
            "type": "string",
            "description": "Provider's last name."
          },
          "first_name": {
            "type": "string",
            "description": "Provider's first name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "charles90@denefits.com",
            "description": "Provider's email address. "
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Providers"
    },
    {
      "name": "Plans"
    },
    {
      "name": "Finance"
    }
  ]
}