{
  "openapi": "3.0.0",
  "info": {
    "title": "API Reference",
    "version": "1.0.0",
    "description": "The Denefits API is organized around REST. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs. You can use the Denefits API in test mode, which does not affect your live data or interact with the banking networks. The token you use to authenticate the request determines whether the request is live mode or test mode.",
    "contact": {
      "email": "sukhpreet@denefits.com",
      "name": "Denefits API Support"
    }
  },
  "servers": [
    {
      "url": "https://endpoint.denefits.com/v1",
      "description": "Whitelabel"
    }
  ],
  "paths": {
    "/contract/list": {
      "get": {
        "summary": "Get listing of all contracts of this account",
        "tags": [
          "Contract"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "contracts_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "contract_id": {
                                "type": "string"
                              },
                              "date_added": {
                                "type": "string"
                              },
                              "last_updated": {
                                "type": "string"
                              },
                              "zipcode": {
                                "type": "number"
                              },
                              "contract_status": {
                                "type": "string"
                              },
                              "next_recurring_date": {
                                "type": "string"
                              },
                              "remaining_terms": {
                                "type": "number"
                              },
                              "term": {
                                "type": "number"
                              },
                              "recurring_amount": {
                                "type": "number"
                              },
                              "interest_rate": {
                                "type": "number"
                              },
                              "financed_amount": {
                                "type": "number"
                              },
                              "customer_signature": {
                                "type": "string"
                              },
                              "customer_address": {
                                "type": "string"
                              },
                              "customer_mobile": {
                                "type": "string"
                              },
                              "customer_email": {
                                "type": "string"
                              },
                              "customer_last_name": {
                                "type": "string"
                              },
                              "customer_first_name": {
                                "type": "string"
                              },
                              "customer_id": {
                                "type": "number"
                              },
                              "provider_id": {
                                "type": "number"
                              },
                              "contract_code": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Request executed successfully",
                      "data": {
                        "count": 1,
                        "contracts_list": [
                          {
                            "contract_id": 16813,
                            "contract_code": "RATJJJ****",
                            "provider_id": 6494,
                            "customer_id": 3173,
                            "customer_first_name": "Ted",
                            "customer_last_name": "Mosby",
                            "customer_email": "tedmosby@gmail.com",
                            "customer_mobile": "+1-2055306266",
                            "customer_address": "#15 test, East Pembroke, NY, 14056",
                            "customer_signature": "https://denefits.s3.amazonaws.com/pat************",
                            "financed_amount": 1000,
                            "interest_rate": 16.49,
                            "recurring_amount": 67.29,
                            "term": 18,
                            "remaining_terms": 18,
                            "next_recurring_date": "2020-05-15",
                            "contract_status": "Active",
                            "title": "",
                            "zipcode": 12345,
                            "last_updated": "2020-05-15T11:14:57.000Z",
                            "date_added": "2020-05-15T07:41:09.000Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If authorization token is missing": {
                    "value": {
                      "message": "Authorization token is missing.",
                      "code": "parameter_missing"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If authorization token is wrong": {
                    "value": {
                      "message": "Invalid auth token provided",
                      "code": "authentication_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-contract-list",
        "parameters": [],
        "description": "Get listing of all contracts of this account"
      }
    },
    "/contract/detail": {
      "get": {
        "summary": "Get contract details with contract ID",
        "tags": [
          "Contract"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "contract_data": {
                          "type": "object",
                          "properties": {
                            "contract_id": {
                              "type": "number"
                            },
                            "contract_code": {
                              "type": "string"
                            },
                            "provider_id": {
                              "type": "number"
                            },
                            "customer_id": {
                              "type": "number"
                            },
                            "customer_first_name": {
                              "type": "string"
                            },
                            "customer_last_name": {
                              "type": "string"
                            },
                            "customer_email": {
                              "type": "string"
                            },
                            "customer_mobile": {
                              "type": "string"
                            },
                            "customer_address": {
                              "type": "string"
                            },
                            "customer_signature": {
                              "type": "string"
                            },
                            "financed_amount": {
                              "type": "number"
                            },
                            "interest_rate": {
                              "type": "number"
                            },
                            "recurring_amount": {
                              "type": "number"
                            },
                            "term": {
                              "type": "number"
                            },
                            "remaining_terms": {
                              "type": "number"
                            },
                            "next_recurring_date": {
                              "type": "string"
                            },
                            "contract_status": {
                              "type": "string"
                            },
                            "zipcode": {
                              "type": "number"
                            },
                            "last_updated": {
                              "type": "string"
                            },
                            "date_added": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Request executed successfully",
                      "data": {
                        "contract_data": {
                          "contract_id": 16813,
                          "contract_code": "RATJJJ****",
                          "provider_id": 6494,
                          "customer_id": 3173,
                          "customer_first_name": "Ted",
                          "customer_last_name": "Mosby",
                          "customer_email": "tedmosby@gmail.com",
                          "customer_mobile": "+1-2055306266",
                          "customer_address": "#15 test, East Pembroke, NY, 14056",
                          "customer_signature": "https://denefits.s3.amazonaws.com/pat************",
                          "financed_amount": 1000,
                          "interest_rate": 16.49,
                          "recurring_amount": 67.29,
                          "term": 18,
                          "remaining_terms": 18,
                          "next_recurring_date": "2020-05-15",
                          "contract_status": "Active",
                          "title": "",
                          "zipcode": 12345,
                          "last_updated": "2020-05-15T11:14:57.000Z",
                          "date_added": "2020-05-15T07:41:09.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If required field is not provided": {
                    "value": {
                      "message": "\"contract_id\" is required",
                      "code": "PARAMETER_MISSING",
                      "flag": 1
                    }
                  },
                  "If invalid contract id is provided": {
                    "value": {
                      "message": "No such contract found.",
                      "code": "REQUEST_FAILED",
                      "flag": 5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If authorization token is wrong": {
                    "value": {
                      "message": "Invalid auth token provided",
                      "code": "authentication_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-contract",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "contract_id",
            "required": true
          }
        ],
        "description": "Get contract details with ID"
      },
      "parameters": []
    },
    "/customer/details": {
      "post": {
        "summary": "Provide customer details for the contract",
        "operationId": "post-staraligners-customer-details",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "finance_token": {
                          "type": "string"
                        },
                        "plan": {
                          "type": "array",
                          "items": {}
                        },
                        "full_amount": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "message": "Finance Token Created",
                      "code": "success",
                      "data": {
                        "finance_token": "39d1aeb8a611cd8f9ec6fb2863ba8d48",
                        "plan": [
                          {
                            "plan_id": "plan_P6509M12A1000D00",
                            "number_of_payments": 12,
                            "interest_rate": 16.99,
                            "monthly_payable": {
                              "total": 94.06,
                              "breakdown": {
                                "amount": 91.06,
                                "transaction_fee": 3
                              }
                            },
                            "to_pay_now": {
                              "total": 124.06,
                              "breakdown": {
                                "denefits_enrollment_fee": 30,
                                "upfront_payment": {
                                  "total": 94.06,
                                  "breakdown": {
                                    "amount": 91.06,
                                    "transaction_fee": 3
                                  }
                                }
                              }
                            },
                            "recurring_amount": 91.06,
                            "advance_interest_amount": 91.06
                          }
                        ],
                        "full_amount": {
                          "to_pay_now": {
                            "total": 1116.63,
                            "breakdown": {
                              "amount": 1100,
                              "transaction_fee": 16.63
                            },
                            "doctor_transaction_fee": 16.63
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If required field is not provided": {
                    "value": {
                      "message": "\"financed_amount\" is required",
                      "code": "parameter_missing"
                    }
                  },
                  "Invalid zipcode provided": {
                    "value": {
                      "message": "Please enter a valid zipcode",
                      "code": "invalid_zip"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If authorization token is wrong": {
                    "value": {
                      "message": "Invalid auth token provided",
                      "code": "authentication_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This API collects all the details of the customer for the contract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "financed_amount": {
                    "type": "number"
                  },
                  "downpayment_amount": {
                    "type": "number"
                  },
                  "number_of_payments": {
                    "type": "number"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "Date should be in format \"YYYY-MM-DD\" and should be a future date"
                  },
                  "customer_email": {
                    "type": "string"
                  },
                  "customer_first_name": {
                    "type": "string"
                  },
                  "customer_last_name": {
                    "type": "string"
                  },
                  "customer_address": {
                    "type": "string"
                  },
                  "customer_mobile": {
                    "type": "string"
                  },
                  "date_of_birth": {
                    "type": "string",
                    "description": "Date should be in format \"YYYY-MM-DD\""
                  },
                  "customer_ssn": {
                    "type": "number"
                  },
                  "dl_number": {
                    "type": "string"
                  },
                  "zipcode": {
                    "type": "number"
                  }
                },
                "required": [
                  "financed_amount",
                  "downpayment_amount",
                  "number_of_payments",
                  "customer_email",
                  "customer_first_name",
                  "customer_mobile",
                  "customer_ssn",
                  "dl_number",
                  "zipcode"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "financed_amount": 1000,
                    "downpayment_amount": 100,
                    "number_of_payments": 12,
                    "start_date": "2020-08-19",
                    "customer_email": "ted@gmail.com",
                    "customer_first_name": "Ted",
                    "customer_last_name": "Mosby",
                    "customer_address": "#15 customer address test",
                    "customer_mobile": "2055306266",
                    "date_of_birth": "1999-08-19",
                    "customer_ssn": "12345678",
                    "dl_number": "DL-4345555",
                    "zipcode": 14056
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [],
        "tags": [
          "Customers"
        ]
      }
    },
    "/customer/finance/status": {
      "get": {
        "summary": "Get finance token status",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Used token": {
                    "value": {
                      "message": "Request executed successfully",
                      "code": "success",
                      "data": {
                        "status": "unused_token",
                        "message": "This finance token is not used yet"
                      }
                    }
                  },
                  "Successful Payment": {
                    "value": {
                      "message": "Request executed successfully",
                      "code": "success",
                      "data": {
                        "status": "payment_successful",
                        "message": "Payment successful for this token"
                      }
                    }
                  },
                  "Failed Payment": {
                    "value": {
                      "message": "Request executed successfully",
                      "code": "success",
                      "data": {
                        "status": "payment_failed",
                        "message": "Payment failed with error message 'Your card has expired.'"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If finance token is missing": {
                    "value": {
                      "message": "\"finance_token\" is required",
                      "code": "parameter_missing"
                    }
                  },
                  "Invalid finance token is provided": {
                    "value": {
                      "message": "Invalid finance token",
                      "code": "invalid_finance_token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "If authorization token is wrong": {
                    "value": {
                      "message": "Invalid auth token provided",
                      "code": "authentication_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-customer-finance-status",
        "description": "This API provides the status of the finance token whether it is used or not. If used then payment was successful or failed",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "finance_token",
            "required": true
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Contract"
    }
  ],
  "security": [
    {
      "authorization": []
    }
  ]
}